<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://android.com"
		  package="com.musicplayer">

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

	<application
			android:label="Music Player"
			android:supportsRtl="true"
			android:theme="@style/Theme.Material3.DayNight.NoActionBar">

		<activity
				android:name="com.musicplayer.mobile_ui.MainActivity"
				android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
				android:name="com.musicplayer.controller.PlaybackService"
				android:enabled="true"
				android:exported="true"
				android:foregroundServiceType="mediaPlayback"
				tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="androidx.media3.session.MediaLibraryService"/>
				<action android:name="android.media.browse.MediaBrowserService" />
			</intent-filter>
		</service>

	</application>
</manifest>
